mapel-core==2.0.15
mapel-elections==2.0.15
mapel-roommates==2.0.15
mapel-marriages==2.0.15

matplotlib~=3.7.2
networkx~=3.1
numpy~=1.24.4
tqdm~=4.65.0
Pillow~=10.0.0
scipy~=1.10.1
scikit-learn~=1.3.0
tikzplotlib~=0.10.1
python-dotenv~=1.0.0
abcvoting~=2.8.0
permanent~=2.0.0
PuLP~=2.7.0
gurobipy~=10.0.2
pandas~=2.0.3
cplex~=20.1.0.1
setuptools~=68.0.0
pabutools~=0.8
