# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include the requirements file
include requirements.txt


exclude mapel/MAIN.py
exclude mapel/tmp.py
exclude mapel/workshop.py
exclude mapel/_MAIN.py
exclude mapel/_tmp.py
exclude mapel/_workshop.py
exclude mapel/main.py
exclude mapel/testing.py


exclude mapel/voting/not_in_the_package/__canonical.py
exclude mapel/voting/not_in_the_package/__pabulib.py
exclude mapel/voting/not_in_the_package/__preflib.py
exclude mapel/voting/not_in_the_package/__mapel.py
exclude mapel/voting/not_in_the_package/__tmp.py
exclude mapel/voting/not_in_the_package/__sc.py
